@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(67, 74, 76);
}
.container{
    background-color: rgb(210, 135, 13);
    width:100%;
    max-width: 50rem;
    height: 800px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.header{
   text-align: center;
   font-size: 38px;
   font-weight: 600;
   
}
.inputLine{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  width:30rem;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  outline: none;
  border:none;
  border-bottom: 2px solid #363636;

}
.inputField::placeholder{
  color:rgb(213, 213, 213);
  font-size: 18px;
  font-weight: bold;
} 


.btn{
  padding: 6px 30px;
  margin-left: 20px;
  background-color: chocolate;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
h3{
  margin-left: 72px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  color:rgb(102, 6, 6);
}

/* list item css */
.Listcol{
  max-width:30rem;
  padding: 6px 30px;
  display: flex;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  background-color: wheat;
  margin-bottom: 20px;
  margin-left: 70px;
  border-radius: 6px;

}

.listItem{

  width:30rem;
  padding: 10px 30px;
  display: flex;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  background-color: wheat;
  margin-bottom: 20px;
  margin-left: 70px;
  border-radius: 6px;
}
.w{
  display: flex;
}
.btn_item{
  max-width: 8rem;
  background-color: red;
  margin-left: 22px;
  height: 42px;
}
.btn2{
  padding: 6px 30px;
  width: 8rem;
  background-color: chocolate;
  font-size: 20px;
  font-weight: bold;
  border: none;
  
}
